#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

#define RC_ROWn_COLi5(n, i) RC(n, (0 + i)) RC(n, (1 + i)) RC(n, (2 + i)) RC(n, (3 + i)) RC(n, (4 + i))
#define RC_ROWn_COL5(n) RC_ROWn_COLi5(n, 1)
#define RC_ROWn_COL6(n) RC_ROWn_COLi5(n, 0) RC(n, 5)
#define RC_ROWn_COL10(n) RC_ROWn_COLi5(n, 1) RC_ROWn_COLi5(n, 7)
#define RC_ROWn_COL12(n) RC_ROWn_COLi5(n, 0) RC(n, 5) RC_ROWn_COLi5(n, 6) RC(n, 11)

#define KEY_PHYSICAL_SIZE_X 100
#define KEY_PHYSICAL_SIZE_Y 100
#define KPA(x, y) <&key_physical_attrs KEY_PHYSICAL_SIZE_X KEY_PHYSICAL_SIZE_Y (x * KEY_PHYSICAL_SIZE_X) (y * KEY_PHYSICAL_SIZE_Y) 0 0 0>
#define KPA_Yn_Xi5(i, n) KPA((0 + i), n), KPA((1 + i), n), KPA((2 + i), n), KPA((3 + i), n), KPA((4 + i), n)
#define KPA_Yn_X5(n) KPA_Yn_Xi5(1, n)
#define KPA_Yn_X6(n) KPA_Yn_Xi5(0, n), KPA(5, n)
#define KPA_Yn_X10(n) KPA_Yn_Xi5(1, n), KPA_Yn_Xi5(7, n)
#define KPA_Yn_X12(n) KPA_Yn_Xi5(0, n), KPA(5, n), KPA_Yn_Xi5(7, n), KPA(12, n)

/ {

    chosen {
        
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {

        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        col-gpios
            = <&gpio1 15 GPIO_ACTIVE_HIGH>
            , <&gpio1 14 GPIO_ACTIVE_HIGH>
            , <&gpio1 13 GPIO_ACTIVE_HIGH>
            , <&gpio1 12 GPIO_ACTIVE_HIGH>
            , <&gpio0 02 GPIO_ACTIVE_HIGH>
            , <&gpio0 03 GPIO_ACTIVE_HIGH>
        ;
        row-gpios
            = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 04 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 05 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
    };

    matrix_transform20: matrix_transform20 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <5>;
        map = <RC_ROWn_COL5(0) RC_ROWn_COL5(1) RC_ROWn_COL5(2) RC_ROWn_COL5(3)>;
    };

    matrix_transform24: matrix_transform24 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <6>;
        map = <RC_ROWn_COL6(0) RC_ROWn_COL6(1) RC_ROWn_COL6(2) RC_ROWn_COL6(3)>;
    };

    matrix_transform30: matrix_transform30 {

        compatible = "zmk,matrix-transform";
        rows = <5>; columns = <6>;
        map = <RC_ROWn_COL6(0) RC_ROWn_COL6(1) RC_ROWn_COL6(2) RC_ROWn_COL6(3) RC_ROWn_COL6(4)>;
    };

    matrix_transform40: matrix_transform40 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <10>;
        map = <RC_ROWn_COL10(0) RC_ROWn_COL10(1) RC_ROWn_COL10(2) RC_ROWn_COL10(3)>;
#if defined(ZMK_SPLIT) && !defined(ZMK_SPLIT_ROLE_CENTRAL)
        col-offset = <6>;
#endif
    };

    matrix_transform48: matrix_transform48 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <12>;
        map = <RC_ROWn_COL12(0) RC_ROWn_COL12(1) RC_ROWn_COL12(2) RC_ROWn_COL12(3)>;
#if defined(ZMK_SPLIT) && !defined(ZMK_SPLIT_ROLE_CENTRAL)
        col-offset = <6>;
#endif
    };

    matrix_transform60: matrix_transform60 {

        compatible = "zmk,matrix-transform";
        rows = <5>; columns = <12>;
        map = <RC_ROWn_COL12(0) RC_ROWn_COL12(1) RC_ROWn_COL12(2) RC_ROWn_COL12(3) RC_ROWn_COL12(4)>;
#if defined(ZMK_SPLIT) && !defined(ZMK_SPLIT_ROLE_CENTRAL)
        col-offset = <6>;
#endif
    };

    layout20: layout20 {

        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "20 keys";
        transform = <&matrix_transform20>;
        keys = KPA_Yn_X5(0), KPA_Yn_X5(1), KPA_Yn_X5(2), KPA_Yn_X5(3);
    };

    layout24: layout24 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "24 keys";
        transform = <&matrix_transform24>;
        keys = KPA_Yn_X6(0), KPA_Yn_X6(1), KPA_Yn_X6(2), KPA_Yn_X6(3)
        ;
    };

    layout30: layout30 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "30 keys";
        transform = <&matrix_transform30>;
        keys = KPA_Yn_X6(0), KPA_Yn_X6(1), KPA_Yn_X6(2), KPA_Yn_X6(3), KPA_Yn_X6(4)
        ;
    };

    layout40: layout40 {

        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "40 keys";
        transform = <&matrix_transform40>;
        keys = KPA_Yn_X10(0), KPA_Yn_X10(1), KPA_Yn_X10(2), KPA_Yn_X10(3);
    };

    layout48: layout48 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "48 keys";
        transform = <&matrix_transform48>;
        keys = KPA_Yn_X12(0), KPA_Yn_X12(1), KPA_Yn_X12(2), KPA_Yn_X12(3);
    };

    layout60: layout60 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "60 keys";
        transform = <&matrix_transform60>;
        keys = KPA_Yn_X12(0), KPA_Yn_X12(1), KPA_Yn_X12(2), KPA_Yn_X12(3), KPA_Yn_X12(4);
    };
};
