#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

#define RC_L5(r) RC(r,  1) RC(r,  2) RC(r,  3) RC(r,  4) RC(r,  5)
#define RC_R5(r) RC(r,  7) RC(r,  8) RC(r,  9) RC(r, 10) RC(r, 11)
#define RC_L6(r) RC(r,  0) RC_L5( r)
#define RC_R6(r) RC(r,  6) RC_R5( r)

#define KPA(x, y) <&key_physical_attrs 100 100 (x * 100) (y * 100) 0 0 0>
#define KPA_L5(y) KPA( 1, y), KPA( 2, y), KPA( 3, y), KPA( 4, y), KPA( 5, y)
#define KPA_R5(y) KPA( 7, y), KPA( 8, y), KPA( 9, y), KPA(10, y), KPA(11, y)
#define KPA_L6(y) KPA( 0, y), KPA_L5( y)
#define KPA_R6(y) KPA_R5( y), KPA(12, y)

/ {

    chosen {
        
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {

        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        col-gpios
            = <&gpio1 15 GPIO_ACTIVE_HIGH>
            , <&gpio1 14 GPIO_ACTIVE_HIGH>
            , <&gpio1 13 GPIO_ACTIVE_HIGH>
            , <&gpio1 12 GPIO_ACTIVE_HIGH>
            , <&gpio0 02 GPIO_ACTIVE_HIGH>
            , <&gpio0 03 GPIO_ACTIVE_HIGH>
        ;
        row-gpios
            = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 04 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 05 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
    };

    matrix_transform20: matrix_transform20 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <5>;
        map = <RC_L5(0) RC_L5(1) RC_L5(2) RC_L5(3)>;
    };

    matrix_transform24: matrix_transform24 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <6>;
        map = <RC_L6(0) RC_L6(1) RC_L6(2) RC_L6(3)>;
    };

    matrix_transform30: matrix_transform30 {

        compatible = "zmk,matrix-transform";
        rows = <5>; columns = <6>;
        map = <RC_L6(0) RC_L6(1) RC_L6(2) RC_L6(3) RC_L6(4)>;
    };

    matrix_transform40: matrix_transform40 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <10>;
        map = <RC_L5(0) RC_R5(0) RC_L5(1) RC_R5(1) RC_L5(2) RC_R5(2) RC_L5(3) RC_R5(3)>;
#if defined(ZMK_SPLIT) && !defined(ZMK_SPLIT_ROLE_CENTRAL)
        col-offset = <6>;
#endif
    };

    matrix_transform48: matrix_transform48 {

        compatible = "zmk,matrix-transform";
        rows = <4>; columns = <12>;
        map = <RC_L6(0) RC_R6(0) RC_L6(1) RC_R6(1) RC_L6(2) RC_R6(2) RC_L6(3) RC_R6(3)>;
#if defined(ZMK_SPLIT) && !defined(ZMK_SPLIT_ROLE_CENTRAL)
        col-offset = <6>;
#endif
    };

    matrix_transform60: matrix_transform60 {

        compatible = "zmk,matrix-transform";
        rows = <5>; columns = <12>;
        map = <RC_L6(0) RC_R6(0) RC_L6(1) RC_R6(1) RC_L6(2) RC_R6(2) RC_L6(3) RC_R6(3) RC_L6(4) RC_R6(4)>;
#if defined(ZMK_SPLIT) && !defined(ZMK_SPLIT_ROLE_CENTRAL)
        col-offset = <6>;
#endif
    };

    layout20: layout20 {

        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "20 keys";
        transform = <&matrix_transform20>;
        keys = KPA_L5(0), KPA_L5(1), KPA_L5(2), KPA_L5(3)
        ;
    };

    layout24: layout24 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "24 keys";
        transform = <&matrix_transform24>;
        keys = KPA_L6(0), KPA_L6(1), KPA_L6(2), KPA_L6(3)
        ;
    };

    layout30: layout30 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "30 keys";
        transform = <&matrix_transform30>;
        keys = KPA_L6(0), KPA_L6(1), KPA_L6(2), KPA_L6(3), KPA_L6(4)
        ;
    };

    layout40: layout40 {

        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "40 keys";
        transform = <&matrix_transform40>;
        keys = KPA_L5(0), KPA_R5(0), KPA_L5(1), KPA_R5(1), KPA_L5(2), KPA_R5(2), KPA_L5(3), KPA_R5(3)
        ;
    };

    layout48: layout48 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "48 keys";
        transform = <&matrix_transform48>;
        keys = KPA_L6(0), KPA_R6(0), KPA_L6(1), KPA_R6(1), KPA_L6(2), KPA_R6(2), KPA_L6(3), KPA_R6(3)
        ;
    };

    layout60: layout60 {
        
        compatible = "zmk,physical-layout";
        kscan = <&kscan0>;
        display-name = "60 keys";
        transform = <&matrix_transform60>;
        keys = KPA_L6(0), KPA_R6(0), KPA_L6(1), KPA_R6(1), KPA_L6(2), KPA_R6(2), KPA_L6(3), KPA_R6(3), KPA_L6(4), KPA_R6(4)
        ;
    };
};
